@page "/categories"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using ClothingStoreWeb.Models
@using ClothingStoreWeb.Data
@implements IAsyncDisposable
@inject IDbContextFactory<ClothingStoreWeb.Data.ApplicationDbContext> DbFactory

<PageTitle>Категории</PageTitle>

<h1>Категории</h1>

<p>
    <a href="categories/create">Добавить</a>
</p>

<QuickGrid Class="table" Items="context.Categories">
    <PropertyColumn Property="category => category.Category_Name" Title="Название категории" />
    <PropertyColumn Property="category => category.Category_Description" Title="Описание категории" />

    <TemplateColumn Context="category">
        <a href="@($"categories/edit?category_id={category.Category_Id}")">Изменить</a> |
        <a href="@($"categories/details?category_id={category.Category_Id}")">Подробнее</a> |
        <a href="@($"categories/delete?category_id={category.Category_Id}")">Удалить</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
