@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand service-brand" href="admin" title="Служебный раздел интернет-магазина одежды">
            Служебный раздел
        </a>
    </div>
</div>

<input type="checkbox" title="Меню навигации" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                Главная сайта
            </NavLink>
        </div>

        <AuthorizeView Roles="Сотрудник,Администратор">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                        Служебный раздел
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categories">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                        Категории
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="products">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                        Товары
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="sizes">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                        Размеры
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="stocks">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                        Запасы
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="orders">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                        Заказы
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="orderitems">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                        Элементы заказа
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="homebanners">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Баннеры
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="reports">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                        Отчёты
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Администратор">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="employees">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                        Сотрудники
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}