@page "/employees/edit"
@using Microsoft.EntityFrameworkCore
@using ClothingStoreWeb.Models
@inject IDbContextFactory<ClothingStoreWeb.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Редактирование</PageTitle>

<h1>Редактирование</h1>

<h2>Сотрудник</h2>
<hr />
@if (Employee is null)
{
    <p><em>Загрузка...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Employee" OnValidSubmit="UpdateEmployee" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Employee.Employee_Id" value="@Employee.Employee_Id" />
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="user_id" class="form-label">Пользователь:</label>
                    <InputText id="user_id" @bind-Value="Employee.User_Id" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Employee.User_Id" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="employee_position" class="form-label">Должность:</label>
                    <InputText id="employee_position" @bind-Value="Employee.Employee_Position" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Employee.Employee_Position" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="employee_salary" class="form-label">Зарплата:</label>
                    <InputNumber id="employee_salary" @bind-Value="Employee.Employee_Salary" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Employee.Employee_Salary" class="text-danger" />
                </div>
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="employee_hiredate" class="form-label">Дата приёма на работу:</label>
                    <InputDate id="employee_hiredate" @bind-Value="Employee.Employee_HireDate" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Employee.Employee_HireDate" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/employees">Вернуться к списку</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Employee_Id { get; set; }

    [SupplyParameterFromForm]
    private Employee? Employee { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Employee ??= await context.Employees.FirstOrDefaultAsync(m => m.Employee_Id == Employee_Id);

        if (Employee is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateEmployee()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Employee!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!EmployeeExists(Employee!.Employee_Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/employees");
    }

    private bool EmployeeExists(int employee_id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Employees.Any(e => e.Employee_Id == employee_id);
    }
}
