@page "/sizes"
@attribute [Authorize(Roles = "Сотрудник,Администратор")]
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using ClothingStoreWeb.Models
@using ClothingStoreWeb.Data
@using Microsoft.AspNetCore.Components.Authorization
@implements IAsyncDisposable
@inject IDbContextFactory<ClothingStoreWeb.Data.ApplicationDbContext> DbFactory
@inject EmployeeAccessService AccessService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Размеры</PageTitle>

<h1>Размеры</h1>

@if (canCreate)
{
    <p>
        <a href="sizes/create">Добавить</a>
    </p>
}

<QuickGrid Class="table" Items="sizes">
    <PropertyColumn Property="size => size.Size_Name" Title="Размер" />

    <TemplateColumn Context="size">
        @if (canEdit)
        {
            <a href="@($"sizes/edit?size_id={size.Size_Id}")">Изменить</a>
            <span> | </span>
        }
        <a href="@($"sizes/details?size_id={size.Size_Id}")">Подробнее</a>
        @if (canDelete)
        {
            <span> | </span>
            <a href="@($"sizes/delete?size_id={size.Size_Id}")">Удалить</a>
        }
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext? context;
    private IQueryable<Size> sizes = Enumerable.Empty<Size>().AsQueryable();
    private bool canCreate;
    private bool canEdit;
    private bool canDelete;
    private bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        if (!await AccessService.CanViewAsync("Sizes"))
        {
            NavigationManager.NavigateTo("/Account/AccessDenied");
            return;
        }

        canCreate = await AccessService.CanCreateAsync("Sizes");
        canEdit = await AccessService.CanEditAsync("Sizes");
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        isAdmin = authState.User.IsInRole("Администратор");

        canDelete = isAdmin && await AccessService.CanDeleteAsync("Sizes");

        context = DbFactory.CreateDbContext();
        sizes = context.Sizes
            .AsNoTracking()
            .OrderBy(size => size.Size_Id);
    }

    public async ValueTask DisposeAsync()
    {
        if (context is not null)
        {
            await context.DisposeAsync();
        }
    }
}
